*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: "Open Sans", sans-serif;
    
}
header , footer{
    max-width: 100%;
    height: 60px;
    background-color: black;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: black;
}
section{
    width: 100%;
    height: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
     margin-left: 20px;
    
}
.logo img{
    width: 100%;
}
.cont_links_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    gap: 1em;
    width: max-content;
    border-radius: 10px;
}
.cont_links_nav .link_nav{
    text-decoration: none;
    color: white;
    padding: 5px;

}
.link_nav:hover{
    background-color: #eeb61a;
    border-radius: 10px;
}
#compra_cafe:hover{
    background-color: green;
}

.seccion_inicio{
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #42220A;
    /*background-color: #57070a;*/
  /*  background-color: #000000;*/
    justify-items: center;
    align-items: center;
}

.seccion_inicio .cont_img_slider_inicio{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.cont_img_slider_inicio img{
    width: 100%;
    position: relative;
    z-index: 0;
}
.swiper-slide{
    width: 100% ;
    margin-right: 0; 
}
.link_slider_maquina_cafe1,
.link_slider_maquina_cafe2,
.link_slider_maquina_cafe3,
.link_slider_maquina_cafe4,
.link_slider_maquina_cafe5,
.link_slider_maquina_cafe6,
.link_slider_maquina_cafe7
{
    width: 13em;
    height: 25em;
    position: absolute;
    z-index: 1;
    
    top: 1.5em;
}
.link_slider_maquina_cafe1{
    left: 1.5em;
}
.link_slider_maquina_cafe2{
    left: 20em;
}
.link_slider_maquina_cafe3{
    left: 34em;
}
.link_slider_maquina_cafe4{
    left: 50em;
}
.link_slider_maquina_cafe5{
    left: 65em;
}
.link_slider_maquina_cafe6{
    left: 85em;
}
.link_slider_maquina_cafe7{
    left: 102em;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    padding: 10px;
    top: 32px;
    z-index: 1;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.menu:hover{
    background-color: #1e1e1e;

}
.menu:hover .submenu {
    display: block;
    
}
.cont_sub_links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.sub_link_maquinas{
    color: white;
    text-decoration: none;
}

.cont_texto{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.cont_texto_img{
    width: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
.cont_texto_img_1,.cont_texto_img_2  ,.cont_texto_img_3,.cont_texto_img_4{
    width: 25em;
    height: 20em;
}
.cont_texto_img_1 div,.cont_texto_img_2 div, .cont_texto_img_3 div, .cont_texto_img_4 div{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cont_texto_img_1 div{
    background-image: url(../img/home/oficina_img.webp);
}
.cont_texto_img_2 div{
    background-image: url(../img/home/alquiler.jpg);
}
.cont_texto_img_3 div{
    background-image: url(../img/home/Fiat-Fiorino.webp);
}
.cont_texto_img_4 div{
    background-image: url(../img/home/atencion-al-cliente.jpg);
}
.cont_texto_img_1 p,.cont_texto_img_2 p,.cont_texto_img_3 p,.cont_texto_img_4 p{
    background-color: rgba(120,120,120,0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 1.3em;
    color: black;
    font-weight: 400;
}

footer .cont_nav{
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;

}
.cont_redes{
    width: 100%;
    height: 30em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
}
.cont_red{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.cont_red div{
    display: flex;
    gap: 10em;
    justify-content: center;
    
}
.cont_red i{
    border: 2px solid white;
    
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-size: 5em;
    display: flex;
    justify-content: center;
    padding:10px;
    transition: transform 1s, border-color 2s;
    color: white;
}

.cont_red i:hover{
    transform: scale(1.2);   
    border-color: #eeb61a;
}
.cont_red a{
    text-decoration: none;
}


.cont_derechos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    
}
.cont_derechos p{
    color: white;
}
.cont_logo_derechos{
    width: 24em;
}
.cont_logo_derechos img{
    width: 100%;
}
.cont_datos_contacto{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.cont_derechos, .cont_datos_contacto{
    font-size: 1em;
    color: white;
}
.cont_marca{
    width: 100%;
    background-color: #eeb61a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    
}
.cont_marca p{
    font-size: 1.2em;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-left: 1em;
    width:max-content;
    padding: 0.5em;
    border-radius: 10px;
}
.marcas{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.cont_marca_img{
    width: 8em;

}
.cont_marca_img img{
    width: 100%;
}

