*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: "Open Sans", sans-serif;
    
}
section{
    width: 100%;
    height: 100%;
}


.seccion_inicio{
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #42220A;
    justify-items: center;
    align-items: center;
}

.seccion_inicio .cont_img_slider_inicio{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.cont_img_slider_inicio img{
    width: 100%;
    position: relative;
    z-index: 0;
}
.swiper-slide{
    width: 100% ;
    margin-right: 0; 
}
.link_slider_maquina_snack1,
.link_slider_maquina_cafe1, 
.link_slider_maquina_min_vending1
{
    width:100%;
    height: 90%;
    position: absolute;
    z-index: 1;
    align-self: center;
}



.cont_texto{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.cont_texto_img{
    width: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.cont_texto_img_1,.cont_texto_img_2  ,.cont_texto_img_3,.cont_texto_img_4{
    width: 25em;
    height: 20em;
}
.cont_texto_img_1 div,.cont_texto_img_2 div, .cont_texto_img_3 div, .cont_texto_img_4 div{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cont_texto_img_1 div{
    background-image: url(../img/home/oficina_img.jpg);
}
.cont_texto_img_2 div{
    background-image: url(../img/home/alquiler.jpg);
}
.cont_texto_img_3 div{
    background-image: url(../img/home/camion_bantu.png);
}
.cont_texto_img_4 div{
    background-image: url(../img/home/atencion-al-cliente.jpg);
}
.cont_texto_img_1 p,.cont_texto_img_2 p,.cont_texto_img_3 p,.cont_texto_img_4 p{
    background-color: rgba(120,120,120,0.6);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 1.3em;
    color: black;
    font-weight: 600;
}
@media (min-width:320px) and (max-width:768px) {
    .seccion_inicio{
        max-width: 100%;
        grid-template-rows: auto auto;
    }

    .cont_texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    }
    .cont_texto_img_1,.cont_texto_img_2  ,.cont_texto_img_3,.cont_texto_img_4{
    width: 10em;
    height: 10em;
}
    .cont_texto_img_1 p,.cont_texto_img_2 p,.cont_texto_img_3 p,.cont_texto_img_4 p{
    font-size: 0.7em;
    font-weight: 600;

}
    .seccion_inicio .cont_marca{
        display: none;
}
  
}

@media (min-width:769px) and (max-width:1024px) {
    .cont_texto {
        flex-wrap: wrap;
        gap: 1em;
        height: auto;
        margin-bottom: 1em;
    }
    .seccion_inicio  {
        grid-template-rows: auto 1fr;
        gap: 2em;
    }
}
@media (min-width:1024px) and (max-width:1440px) {
    .cont_texto {
        flex-wrap: wrap;
        gap: 1em;
        height: auto;
        margin-bottom: 1em;
    }
    .cont_texto_img_1,.cont_texto_img_2  ,.cont_texto_img_3,.cont_texto_img_4{
        width: 20em;
        height: 20em;
    }
    .seccion_inicio  {
        grid-template-rows: auto 1fr;
        gap: 2em;
    }

}