
.seccion_maquina{
    max-width: 100%;
    background-color: #42220A;
    height: min-content;
    overflow: hidden;
    justify-items: center;
}
.titulo_maquina{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cont_img_titulo{
    width: 500px;
    height: 200px;
}
.titulo_maquina img{
    width: 100%;
}
.nombre_maquina{
    width: 100%;
    text-align: center;
    height: min-content;
    font-size: 3em;
    color: black;
}

.cont_maquina_snack{
    color: black;
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5em;
}
.maquina_especificaciones_snack{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
}
.selecciones_snack{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cont_img_snack{
    width: auto;
    height: 40em;
}
.cont_img_snack img{
    width: 100%;
    height: 100%;
}
.especificaciones{
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
}
.especificaciones p{
    font-size: 1.4em;
}

.selecciones_snack{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

.nombre_maquina_snack{
    font-size: 3em;
}
/*Slider--------------*/
.cont_slider_seleccion{
    height: min-content;
    width: 20em;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.cont_slider_seleccion h3{
    width: 100%;
    text-align: center;
}
.swiper-container{
    width: 12em;
    overflow: hidden;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

.swiper-button-prev, .swiper-button-next{
    align-self: anchor-center;
}
.swiper-button-prev svg, .swiper-button-next svg{
    color: white;
}
/*-------------*/
