@media (min-width:1024px) and (max-width:1440px){
    .cont_img_snack{
    width: auto;
    height: 30em;
}
.nombre_maquina_snack{
    font-size: 2.5em;
}
.cont_slider_seleccion{
    height: min-content;
    width: 17em;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.swiper-container{
    width: 10em;
    overflow: hidden;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}
.especificaciones p{
    font-size: 1.2em;
}
}