header , footer{
    max-width: 100%;
    height: 60px;
    background-color: black;
}
 header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: black;
}
body header{
    position: sticky;
    top: 0px;
    z-index: 100;
}


    
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-left: 20px;
    
}
.logo img{
    width: 100%;
}
.cont_links_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    gap: 1em;
    width: max-content;
    border-radius: 10px;
}
.cont_links_nav .link_nav{
    text-decoration: none;
    color: white;
    padding: 5px;

}
.link_nav:hover{
    background-color: #eeb61a;
    border-radius: 10px;
}
#compra_cafe:hover{
    background-color: green;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    padding: 10px;
    top: 32px;
    z-index: 1;
}

.menu_hambur{
    border: 0;
}
.menu_hambur{
    color: white;
    background-color: black;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.menu:hover{
    background-color: #1e1e1e;

}
.menu:hover .submenu {
    display: block;
    
}
.cont_sub_links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.sub_link_maquinas{
    color: white;
    text-decoration: none;
}
.menu_hambur{
    display: none;
}




/*------------------------------------------------------------*/
footer .cont_nav{
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;

}
.cont_redes{
    width: 100%;
    height: 30em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
}
.cont_red{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.cont_red div{
    display: flex;
    gap: 10em;
    justify-content: center;
    
}
.cont_red i{
    border: 2px solid white;
    
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-size: 5em;
    display: flex;
    justify-content: center;
    padding:10px;
    transition: transform 1s, border-color 2s;
    color: white;
}

.cont_red i:hover{
    transform: scale(1.2);   
    border-color: #eeb61a;
}
.cont_red a{
    text-decoration: none;
}


.cont_derechos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    
}
.cont_derechos p{
    color: white;
}
.cont_logo_derechos{
    width: 24em;
}
.cont_logo_derechos img{
    width: 100%;
}
.cont_datos_contacto{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.cont_derechos, .cont_datos_contacto{
    font-size: 1em;
    color: white;
}
.cont_marca{
    width: 100%;
    background-color: #eeb61a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    
}
.cont_marca p{
    font-size: 1.2em;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-left: 1em;
    width:max-content;
    padding: 0.5em;
    border-radius: 10px;
}
.marcas{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.cont_marca_img{
    width: 8em;

}
.cont_marca_img img{
    width: 100%;
}

@media (min-width:320px) and (max-width:768px) {
    header , footer{
        display: flex;
        height: 100px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-left: 1rem;
    }
    .menu_hambur{
        font-size: 2em;
        display: flex;
        top: 1em;
        right: 1em;
        position: absolute;
    }
    .cont_links_nav{
        display: none;
        text-align: center;
        flex-direction: column;
        position: absolute;
        right: -1em;
        top: 5em;
        background-color: black;
        border-radius: 0px;
        z-index: 1;
    }
    .cont_links_nav.active {
        display: flex;
    }
    footer{
        width: 100%;
        height: min-content;
        overflow: hidden;
    }
    footer .cont_nav{
        display: grid;
        width:100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .f_nav_1{
        display: grid;
        margin-top: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
    }
    .f_nav_1 .cont_derechos{
        width: 100%;
    }
    .cont_derechos .cont_logo_derechos{
        width: 9em;
    }
    .cont_derechos p, .cont_datos_contacto p{
        font-size: 0.8em;
        text-align: center;
    }
    iframe{
        width: 11em;
        height: 7em;
    }
    .f_nav_2{
        width: 100%;
        height: min-content;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .cont_redes{
        display: flex;
        width: 100%;
        height: min-content;
    }
    .cont_red{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .cont_red i{
        font-size: 2em;
        border-radius: 0px;
        border: 0px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    footer .cont_nav{
        grid-template-columns: auto 1fr 1fr;
        
    }
    .cont_red div{
        gap: 2em;
    }
    .cont_red i{
        font-size: 4em;
    }
    .cont_logo_derechos{
        width: 18em;
    }
    .cont_derechos p{
        font-size: 0.8em;
    }
    .cont_datos_contacto iframe{
        width: 400px;
    }
}