.cont_snacks{
    width: 100%;
    max-height: 22em;
    background-color: #eeb61a;
    border: 1px solid rgb(255, 255, 255);
    border-right-width: 0;
    display: flex;
    align-items:self-start;
    padding: 1em;
    overflow-y: scroll;

    
}
.cont_snacks{
    border-radius: 30em 0 0 30em;
    justify-content: right;
}
.cont_snack{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 8em;
    gap: 5px;
}
.cont_img_snack{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-around;
}
.contenedor_img_snack{
    width: 30px;
    
   
}
.contenedor_img_snack img{
    width: 100%;
}