.wsp_flotante{
    position: fixed;;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-right: 1em;
    margin-bottom: 1em;
}
.wsp_flotante img{
    width: 4em;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
    transition: transform 1s;
}
.wsp_flotante img:hover{
    transform: scale(1.1);
}

